<h1 style="font-size:2.5em;text-align:center"><%= @trail.title %></h1> 
<h2 style="font-size:2.2em;text-align:center;color:white;"><%= @trail.length %>, Difficulty: <%= @trail.difficulty %></h2> 


<p>park:  <%=@trail.park%></p>
<p>region:  <%=@trail.region%></p>
<p>state:  <%=@trail.state%></p>
<p>dogs:  <%=@trail.dogs%></p>
<p>lat:  <%=@trail.lat%></p>
<p>lon:  <%=@trail.lon%></p>
<p>features:  <%=@trail.features%></p>
<p>length:  <%=@trail.length%></p>
<p>difficulty:  <%=@trail.difficulty%></p>


