<h1 style="font-size:2.5em;text-align:center"><%= @trailsolution.title %></h1> 
<h2 style="font-size:2.2em;text-align:center;color:white;"><%= @trailsolution.length %>, Difficulty: <%= @trailsolution.difficulty %></h2> 


<p>park:  <%=@trailsolution.park%></p>
<p>region:  <%=@trailsolution.region%></p>
<p>state:  <%=@trailsolution.state%></p>
<p>dogs:  <%=@trailsolution.dogs%></p>
<p>lat:  <%=@trailsolution.lat%></p>
<p>lon:  <%=@trailsolution.lon%></p>
<p>features:  <%=@trailsolution.features%></p>
<p>length:  <%=@trailsolution.length%></p>
<p>difficulty:  <%=@trailsolution.difficulty%></p>
